<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name= "connection" connectionString="Data Source=GEORGE;Initial Catalog=Dealership masini;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="transaction" value="UPDATE Masina SET stoc=6 WHERE model='M6' WAITFOR DELAY '00:00:10' UPDATE Servicii SET pret=500 WHERE denumire='inchiriere'"/>


  </appSettings>
</configuration>