.main{
    max-width: 310px;

    border-spacing: 5px;
    border: 1px solid black;
    background: yellow;

}

.elem {
    display: table;
}

.elem p {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
}

.elem p {
    height: 100%;
    margin: 0;
}
img {
    max-width: 200px;
    max-height: 200px;
}